<%- include('./partials/header') %>

  <main>
    <!-- <% if (!user) { %> -->
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>   
    <!-- <% } %> -->
        <!--could change class to container if i didn't want it to span the full width-->
        <div class="container-fluid p-5 my-0 bg-dark text-white">
            <h1><%= title %></h1>
            <ul class="list-group">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
              </ul>
        </div>

<%- include('./partials/footer') %>