<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <!--bootstrap mobile first need the below for proper rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
     <!-- Core theme CSS (includes Bootstrap)-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
          <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">crowdShoo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase" href="/venues">COMMUNITY FAVS</a>
                  </li>
                  <% if (user) { %>
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase" href="/venues/myFavs">MY LIST</a>
                    </li>
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase" href="/venues/new">ADD A FAV</a>
                    </li>
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase" href="/logout">LOG OUT</a>
                    </li>
                  <% } else { %> 
                    <li class="nav-item px-lg-4">
                      <a class="nav-link text-uppercase" href="/auth/google">LOG IN</a>
                    </li> 
                  <% } %>
              </ul>
          </div>
      </div>
  </nav>
  <main>