<%- include('./partials/header') %>

          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" style="background-color: white">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>

  <main>
        <!--could change class to container if i didn't want it to span the full width-->
        <div class="container-fluid p-5 my-0 bg-dark text-white">
          <div class="row">
            <h1><%= title %></h1>
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
            <div class="col-sm-3">.col-sm-3</div>
    
          </div> 
        </div>

<%- include('./partials/footer') %>