<%- include('./partials/header') %>

<section class="page-section about-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="images/intro.jpg" alt="happy barista serving"> -->

                <div class="container">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#imageCarousel" data-bs-slide-to="1"></li>
                      </ol>
                
                      <!-- Slides -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="images/introsmaller.jpg" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                          <img src="images/father-son-in-playgroundvs2.png" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" alt="Image 2">
                        </div>
                      </div>
                
                      <!-- Controls -->
                      <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>
                  </div>









            </div>
            <div class="col-md-6">
            <p>
                <div class="col-xl-9"><h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Hate Crowds, Love Fun</span>
                    <span class="section-heading-lower"><%= title %></span>
                </h2>
                <p class="mb-0">
                    At CrowdShoo, we help you ‘shoo’ away from crowded places, allowing you to enjoy your favorite venues without the hassle of large crowds.
                    
                    crowd sourced comments included...
                </p>
            </p>
        </div>
    </div>
    </div>
</section>

<%- include('./partials/footer') %>
