<%- include('./partials/header') %>
    <!--could change class to container if i didn't want it to span the full width-->
    <div class="container-fluid p-5 my-0 bg-dark text-white">
    <h1><%= title %></h1>

    <h2>THIS IS WHERE AN INTRO PAGE WOULD GO</h2>
    </div>

<%- include('./partials/footer') %>