<%- include('../partials/header') %>

  <!--these needs to be all venues by all users --->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">tbc </div>
        <div class="col-sm bg-dark text-white p-3">tbc </div>
        <div class="col-sm bg-dark text-white p-3">tbc</div>
        <div class="col-sm bg-dark text-white p-3">tbc</div>
    </div>
    <div class="row">
        <div class="col-sm bg-dark text-white p-3">tbc </div>
        <div class="col-sm bg-dark text-white p-3">tbc </div>
        <div class="col-sm bg-dark text-white p-3">tbc</div>
        <div class="col-sm bg-dark text-white p-3">tbc</div>
    </div>  
</div>  


<%- include('../partials/footer') %>