<%- include('../partials/header') %>

<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">add</span>
    <span class="site-heading-lower"><%= title %></span>
  </h1>
</header>

<div class="container-fluid p-5 my-0 bg-dark text-black">
  <section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                      <form action="/venues" class="was-validated" method="POST">

                        <!---------venue ---------->
                      
                        <div class="mb-3 mt-3">
                          <label for="autocomplete">Venue: </label>
                          <input
                            type="text"
                            class="form-control"
                            id="autocomplete"
                            name="venueName"
                            placeholder="Enter a new myFav"
                            required>
                        </div>

                        <!---------myFav Category----------->
                        <div class="mb-3">
                          <label for="myFavCategory" class="form-label">myFav Category (select one):</label>
                          <select class="form-select" id="myFavCategory" name="myFavCategory" required>
                            <option value="" disabled selected>Select a category...</option>
                            <option value="happyhour">Happy Hour</option>
                            <option value="familyTime">Family Time</option>
                          </select>
                          <div class="valid-feedback"></div>
                          <div class="invalid-feedback">Please select relevant category</div>
                        </div>
                        <!---------Rating----------->
                        <div class="mb-3">
                          <label for="ratings" class="form-label" id="ratings">Rate this venue (select one):</label>
                          <div class="ratings">
                            <input type="radio" id="star5" name="ranking" value="5" required>
                            <label for="star5" title="5 stars">&#9733;&#9733;&#9733;&#9733;&#9733;</label><br>
                            <input type="radio" id="star4" name="ranking" value="4" required>
                            <label for="star4" title="4 stars">&#9733;&#9733;&#9733;&#9733;</label><br>
                            <input type="radio" id="star3" name="ranking" value="3" required>
                            <label for="star3" title="3 stars">&#9733;&#9733;&#9733;</label><br>
                            <input type="radio" id="star2" name="ranking" value="2" required>
                            <label for="star2" title="2 stars">&#9733;&#9733;</label><br>
                            <input type="radio" id="star1" name="ranking" value="1" required>
                            <label for="star1" title="1 star">&#9733;</label><br>
                          <div class="valid-feedback"></div>
                          <div class="invalid-feedback">Please give a rating</div>
                          </div>
                        </div>

                        <!---------Top tip----------->
                          <div class="mb-3">
                            <label for="topTip" class="form-label">Top tip:</label>
                            <input type="text" class="form-control" id="topTip" placeholder="Leave a top tip for the crowdShoo community" name="topTip">
                            <!--how do i make this field un-ticked-->
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<%- include('../partials/footer') %></section>